.bookmark-group {
    width: 0.25vw;
}

.bookmark-list {
    flex-wrap: wrap;
}

.bookmark {
    width: 150px;
    height: fit-content;
    border-radius: 5px;
    padding: 10px;
    display: flex;
}

.bookmark-container {
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

.bookmark-text {
    display: flex;
    flex-grow: 0;
    max-width: none;
    white-space: wrap;
    flex-direction: column;
    justify-content: center;
}

.bookmark-name {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.bookmark-icon {
    display: flex;
}

.bookmark-icon-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bookmark-description {
    max-width: 100px;
    text-align: center;
    font-size: 1rem;
    word-wrap: break-word;
    white-space: wrap
}